body {
  background-color: #f5f5f5;
  min-height: 100vh; 
  margin: 0; 
  font-family: 'Arial', sans-serif; 
}

/* body {
  background: linear-gradient(to bottom, #1e1e1e, #333333); 
  min-height: 100vh;
  margin: 0;
} */

/* .container {
  background-color: #f5f5f5; 
  min-height: 100vh;
  padding: 0; 
} */